@charset "UTF-8";

/* Estilos globais para o corpo do documento */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f0; /* Cor de fundo global */
}

/* Estilos do cabeçalho */
.header {
    background-color: #009966; /* Cor de fundo do cabeçalho */
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

/* Estilos da barra de navegação */
nav {
    margin-top: 10px;
    height: 30px; /* Define a altura inicial */
    overflow: hidden; /* Oculta o conteúdo excedente */
    transition: height 0.3s ease-in-out; /* Adiciona a transição suave de tamanho */
}

nav:hover {
    height: 50px; /* Define a altura desejada ao passar o mouse sobre a barra de navegação */
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 0; /* Adiciona preenchimento para facilitar a interação com o link */
    background-color: #009966;  /* Cor de fundo dos links de navegação */
    /* transition: background-color 0.5s ease-in-out;  Transição suave da cor de fundo */
    transition: color 0.3s ease-in-out, padding 0.3s ease-in-out; /* Transições suaves de cor de fundo e preenchimento */
    display: inline-block; /* Torna os links inline-block para ocupar apenas o espaço necessário */
}

nav a:hover {
    color: #90eca4; /* Cor dos links de navegação ao passar o mouse */
    font-size: 1.1em; /* Tamanho da fonte ao passar o mouse */
    transition: font-size 0.3s ease-in-out;
    padding: 14px 0;
    /* animation: fadeInBackground 0.5s ease-in-out; /* Animação para o fundo ao passar o mouse */
}

/* Estilos do conteúdo */
.content {
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo do conteúdo */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123); /* Sombra */
}

/* Estilos do rodapé */
.footer {
    background-color: #009966; /* Cor de fundo do rodapé */
    color: white;
    padding: 10px;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.5s; /* Transição suave da cor ao passar o mouse */
}

.footer a:hover {
    color: #90eca4; /* Cor dos links do rodapé ao passar o mouse */
}

/* Estilos do link de login */
#login-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos específicos para cada página */
#problemas-link.active,
#sobre-link.active,
#reportar-link.active {
    font-weight: bold;
}

/* Estilos de links genéricos */
a {
    transition: color 0.5s; /* Transição suave da cor ao passar o mouse */
}

a:hover {
    color: #90eca4; /* Cor dos links genéricos ao passar o mouse */
}

/* Estilos para o nome do usuário no canto superior direito */
#username {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-weight: bold;
}

/* Estilos do carrossel */
.carousel-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: auto;
    display: none;
}

.carousel-slide.active {
    display: block;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #009966;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* Animação para o fundo ao passar o mouse */
@keyframes fadeInBackground {
    from {
        background-color: #009966;
    }
    to {
        background-color: #90eca4;
    }
}

/* Animação para mostrar o slide */
@keyframes fadeInSlide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
